{% extends 'layout.html' %}
{% load humanize %}
{% block title %}My Notifications{% endblock %}
{% block content %}

<div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
          <h1>Notifications</h1>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">

    <div class="grid-70">

      <div class="circle--article--body">
      {% if unreads %}
        {% for message in unreads %}
            <p>{{ message.verb }}</p>
            <p><strong>{{ message.timestamp|naturaltime }}</strong></p>
            <hr/>
          {% endfor %}
      {% else %}
          <p>No messages to display.</p>
      {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
