{% extends 'layout.html' %}

{% block title %}Edit Profile{% endblock %}
{% block content %}


  <div class="bounds circle--page">
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h1>Edit Profile</h1>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <button class="button button-primary icon-on-left" type="submit">Save Changes</button>
      </div>
    </div>

        {% csrf_token %}

        <div class="grid-70">
          <p>First Name:</p>
            {{ form.first_name }}
          <p>Last Name:</p>
            {{ form.last_name }}
          <p>Bio:</p>
            {{ form.bio }}
        </div>

        <div class="grid-25 grid-push-5">
          <div class="circle--secondary--module">
            <p>Avatar:</p>
         {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar" width="100%">
        {% endif %}
            {{ form.avatar }}
          </div>

          <div class="circle--secondary--module">
            <h4>My Skills</h4>
            {% for skill in form.skills %}
               {{ skill }}
            {% endfor %}
            <h4>Add Skills</h4>
            <ul class="circle--group circle--list">
                {{ formset.management_form }}
                {% for form in formset %}
                  <li class="skill-formset">
                    {{ form.id }}
                    {{ form.name }}
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>
    </form>
  </div>

</div>

{% endblock %}

{% block js %}
    {% load static from staticfiles %}
    {{ form.media.js }}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.skill-formset').formset({
            addText: 'Add skill',
            deleteText: 'Remove'
        });
    </script>
{% endblock js %}
